@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Marck+Script&family=Montserrat&family=Roboto:wght@100;300;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}
body {    
    background-color: #40798c; /*3e4668 */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Marck Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: #1f363d;
    transition: 0.5s all;
}
a:hover{  
    
    background-color: #2e4f58;
}
label {
    margin: 10px;
}

input {
    padding: 5px 10px;
    border-radius: 10px;
    border: 0px solid black;
}
input:focus {
    outline: none;
}
button {
    padding: 5px 10px;
    border-radius: 10px;
    background: #70a9a1;
    color: #fff;
    border: 0px solid black;
    cursor: pointer;
    transition: 0.5s all;
}

button:hover {
    background: #1f363d;
}

.card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #70a9a1;
    color: white;
    border-radius: 10px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

h1, p{
    margin-top: 10px;
}
nav {
    margin: 10px;
    
}

/* nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} */

